.navbar {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #50504f 0,
    #1b253f 50%,
    #00002f 100%
  );
}

a {
  color: #fff;
  text-decoration: none;
}

.shopping-cart {
  align-items: center;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  padding: 0.1rem 0.5rem;
  transition: background-color 0.25s ease-in-out;
  color: #fff;

  &:hover {
    background-color: #65976b;
  }
}
