.card {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  max-width: 25rem;
  min-height: 10rem;
  min-width: 33rem;
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #dedfe0 0,
    #9aa9cd 50%,
    #4b77b9 100%
  );
  //box-shadow: 2px 2px #0f1b3c;
  box-shadow: 1px 1px 2px 1px #000;
}
img {
  float: left;
  margin-right: 10px;
  border-radius: 5px;
  min-width: 50px;
  border: 2px outset #cccccc;
  background-color: #cccccc;
}
#derecha {
  float: right;
}
.mat-card-title {
  line-height: 1.2;
}

.mat-card-actions {
  margin: 0;
}
.descripcion {
  text-align: justify;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0;
  margin-top: auto;
}

button {
  width: 100%;
  &:hover {
    background-color: #0e1834;
    transition: background-color 0.5s ease-in-out;
  }
}
