<mat-card class="card">
  <img src="{{ product.dirImg }}" />
  <div id="derecha">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-content class="descripcion">{{
      product.description
    }}</mat-card-content>
    <mat-card-actions>
      <button
        mat-flat-button
        color="primary"
        (click)="onClick()"
        [disabled]="product.stock === 0"
        *ngIf="user$ | async as user"
      >
        Comprar {{ product.price | currency }}
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </div>
</mat-card>
