.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 25rem;
  min-height: 10rem;
  min-width: 25rem;
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #ffffe1 0,
    #cacccf 50%,
    #829abd 100%
  );
  text-align: center;
}

.mat-card-title {
  line-height: 1.2;
}

.mat-card-actions {
  margin: 0;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0;
  margin-top: auto;
}

button {
  width: 100%;
}

table {
  line-height: 1.2;
  width: 100%;
}

th {
  background-color: #0e1834;
  color: #fff;
}

td {
  background-color: #eee;
}
.a-left {
  text-align: left;
}
