.container {
  margin: 2rem auto;
  width: 90%;
}

table {
  line-height: 1.2;
  width: 100%;
  font-size: 17px;
  text-align: center;
}

th {
  background-color: #86a155;
  color: #fff;
}

td {
  background-color: #eee;
  padding: 5px;
}

/*
.total {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 1rem 0 0;
  padding: 1rem;
}*/
