/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #e3eaea 0,
    #e3eaea 5%,
    #e2eaeb 10%,
    #e3eaec 15%,
    #e3eaec 20%,
    #e3eaed 25%,
    #e3eaed 30%,
    #e4eaed 35%,
    #e5e9ee 40%,
    #e5e9ee 45%,
    #e6e9ee 50%,
    #e7e9ee 55%,
    #e8e9ee 60%,
    #e8e8ee 65%,
    #e9e8ed 70%,
    #eae8ed 75%,
    #ebe8ed 80%,
    #ece8ec 85%,
    #ece7eb 90%,
    #ede7eb 95%,
    #eee7ea 100%
  );
}
