.container {
  margin: 4.4rem auto 0;
  width: 40%;
  padding: 20px 20px 0 20px;
  border-radius: 7px;
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #ffffe1 0,
    #cacccf 50%,
    #829abd 100%
  );
  text-align: center;
}

.form {
  &__element {
    width: 100%;
  }

  .mat-radio-group {
    display: block;
  }

  .mat-radio-button {
    margin-right: 1rem;
  }
}

.actions {
  margin-left: auto;
  margin-right: auto;
  width: 40%;

  &__btn {
    width: 100%;
  }
}
